@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f3;
  min-height: 100vh;
}

.box {
  border: 2px solid black;
  height: 550px;
  position: relative;
  width: 450px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}


 #btn {
  border: 2px solid black;
  position: relative;
  width: 150px;
  padding: 5px;
  color: #31344b;
  font-size: 13px;
  font-weight: 450;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  background-color: #ecf0f3;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  transition: all 0.3s ease;
}


#btn:hover {
  background-color: #31344b;
  color: #ecf0f3;
}


.box .randomBox {
  color: #44476a;
  font-size: 14px;
  font-weight: 500;
  color: #31344b;
  text-align: left;
}

.randomBox img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 20px;
  border-bottom: 5px solid black;
}

.randomBox p {
  font-weight: 900;
  font-size: 20px;
  color: #31344b;
  margin-bottom: 20px;
}